/* give the body element a relative position for the scrollspy to work 
--add font family to the whole page
*/

/* video:  
set the video as a background, make it fixed,
make sure it appears behind all elements
make it spread across the whole webpage
*/

@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&family=Roboto+Slab:wght@300&display=swap');

video#bgvideo{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    z-index: -100;
   
}

 /* style the navigation bar css generator */
.navbar
{
        background-color: rgb(0, 0, 0);
}
 
#navbarNav ul li a{
     color: white;
}
.navbar-toggler-icon{
 background-color: rgb(196, 193, 193);
 border-radius: 10%;
}
.Calllogo{
    fill: white;
}

@media screen and (max-width:991px){
    .call-us{
        display: none;
    }
  .navbar img{
        width: 150px;
  }
}

/* Home section */

#Home
{
  background-color:rgba(53, 75, 77, 0.25);
   color: rgb(0, 0, 0);
   text-align: center;
    padding-top: 15%;
    padding-bottom: 10px;
    /* margin-bottom: 100px; */
}
#Home h1 {
    padding-bottom: 30px;
    text-transform: uppercase;
    color: white;
    font-family: 'Markazi Text', serif;
font-family: 'Roboto Slab', serif;
}
#Home h2{
    padding-bottom: 50px;
    text-transform: uppercase;
    color: white;
    font-family: 'Markazi Text', serif;
    font-family: 'Roboto Slab', serif;
}

#Home .btn{
    background-color: black;
    color: white;
    font-size: 22px;
    padding: 8px 20px;
    border-radius: 8px;
    text-transform: uppercase;
  
}
#Home .btn:hover{
    background-color: white;
  color: orange;
}
#home .btn:active{
    background-color: white;
}




 /* about  */

.container{
    max-width: 1000px;
    
}
 #About{
    padding-top: 100px;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color:rgba(53, 75, 77, 0.25);
 }
 #About h2{
    font-weight: bold;
    text-transform:uppercase;
    color: white;
    font-family: 'Markazi Text', serif;
font-family: 'Roboto Slab', serif;
 }

 #About p{
    font-size: 15px;
    /* margin-bottom: 30px; */
   text-transform: uppercase;
   text-align: justify;
   font-weight: bold;
   color: whitesmoke;
   font-family: 'Markazi Text', serif;
font-family: 'Roboto Slab', serif;
 }
 .aboutimage
 {
   margin-bottom: 50px;
    height: 200px;

    border-radius: 20%;
 }
/* buttons */
.buttonss{
    display: flex;
    justify-content: center;
  /* padding-top: 50px; */
    /* margin-top: 50px; */
  
  }
 /* Menu */

 .containTheMenu{
    text-align: center;
   margin-bottom: 25px;
   font-family: 'Markazi Text', serif;
font-family: 'Roboto Slab', serif;
 }
 .menuclass{
    /* margin: 25px; */
    padding: 10px;
    display: block;
    background-color:rgba(53, 75, 77, 0.25);
 }
 
  #menucontainer p{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bolder;
    color:white;
    font-family: 'Markazi Text', serif;
font-family: 'Roboto Slab', serif;
  }

  /* Offers */
  .containTheoffer{
    text-align: center;
   margin-bottom: 25px;
   font-family: 'Markazi Text', serif;
font-family: 'Roboto Slab', serif;
 }
 .offerclass{
    
    padding: 10px;
    display: none;
    background-color:rgba(53, 75, 77, 0.25 );
 }
 
  #offerMenu p{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bolder;
    color:white;
    font-family: 'Markazi Text', serif;
    font-family: 'Roboto Slab', serif;
  }
  


  .button-28 {
    appearance: none;
    background-color: rgb(0, 0, 0);
    border: 2px solid #1A1A1A;
    box-sizing: border-box;

    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50%;
    will-change: transform;
  }
  
  .button-28:disabled {
    pointer-events: none;
  }
  
  .button-28:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    color: orange;
  }
  
  .button-28:active {
    box-shadow: none;
    transform: translateY(0);
  }
  .button-28 a{
    text-decoration: none;
    color: white;
  }
  .button-28 a:hover{
    color: orange;
  }

  /* forms */
  .allear{
    text-align: center;
    padding: 20px;
  }
  form {
    max-width: 600px;
    margin: 100px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
   
  }
  

  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  input, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #f3f3f3;
    color: #333;
  }

  input:focus, textarea:focus {
    outline: none;
    background-color: #fff;
  }
 .submitbtn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .submitbtn:hover {
  background-color: orange;
    color: white;
  }

  /* message after the input */
  .msg{
    display: none;
  }

 /* footer section */
 .footer{
    height: 60px;
    background-color:rgba(29, 167, 179,0.2);
    color: white;
    padding: 10px 0;
    margin-top: 150px;
    font-size: 15px;
 }
 .container1{
    display: flex;
    justify-content: center;
    align-items: center;
 }
.copyright{
    padding-right: 80px;
 }

 .footer p a{
    color: rgb(255, 214, 214);
    text-decoration: none;
    font-size: 18px;
 }