/* give the body element a relative position for the scrollspy to work 
--add font family to the whole page
*/


/* video:  
set the video as a background, make it fixed,
make sure it appears behind all elements
make it spread across the whole webpage
*/
video#bgvideo{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    z-index: -100;
}
 /* style the navigation bar css generator */
.navbar
{
        background-color: rgb(0, 0, 0);
}
 
#navbarNav ul li a{
     color: white;
}
.navbar-toggler-icon{
 background-color: rgb(196, 193, 193);
 border-radius: 10%;
}
.Calllogo{
    fill: white;
}

@media screen and (max-width:991px){
    .call-us{
        display: none;
    }
  .navbar img{
        width: 150px;
  }
}

/* Home section */

#Home
{
    background-color: transparent;
   color: rgb(0, 0, 0);
   text-align: center;
    padding-top: 15%;
    margin-bottom: 100px;
}
#Home h1 {
    padding-bottom: 30px;
    text-transform: uppercase;
}
#Home h2{
    padding-bottom: 50px;
    text-transform: uppercase;
}

#Home .btn{
    background-color: black;
    color: orange;
    font-size: 22px;
    padding: 8px 20px;
    border-radius: 8px;
    text-transform: uppercase;
}
#Home .btn:hover{
    background-color: white;
}
#home .btn:active{
    background-color: white;
}




 /* about  */

.container{
    max-width: 1000px;
}
 #About{
    padding-top: 100px;
    color: rgb(0, 0, 0);
    text-align: center;
    
 }
 #About h2{
    font-weight: bold;
    text-transform:uppercase;
 }

 #About p{
    font-size: 17px;
    margin-bottom: 30px;
   text-transform: uppercase;
   text-align: justify;
 }
 .aboutimage
 {
   margin-bottom: 50px;
    height: 200px;
    border-radius: 20%;
 }
/* buttons */
.buttonss{
    display: flex;
    justify-content: center;

    margin-top: 50px;
  }
 /* Menu */

 .containTheMenu{
    text-align: center;
   margin-bottom: 25px;
 }
 .menuclass{
    margin: 25px;
    padding: 10px;
    display: none;
 }
 
  #menucontainer p{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bolder;
    color:white;
  }

  /* Offers */
  .containTheoffer{
    text-align: center;
   margin-bottom: 25px;
 }
 .offerclass{
    margin: 25px;
    padding: 10px;
    display: none;
 }
 
  #offerMenu p{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bolder;
    color:white;
  }
  


  .button-28 {
    appearance: none;
    background-color: rgb(0, 0, 0);
    border: 2px solid #1A1A1A;
    box-sizing: border-box;
    border-radius: 5%;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50%;
    will-change: transform;
  }
  
  .button-28:disabled {
    pointer-events: none;
  }
  
  .button-28:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    color: orange;
  }
  
  .button-28:active {
    box-shadow: none;
    transform: translateY(0);
  }
  .button-28 a{
    text-decoration: none;
    color: white;
  }
  .button-28 a:hover{
    color: orange;
  }
  

/* 
no video to work in a small devices: 
we are gonna hide it and show a picture accroos the whole webpage
 */



 /* footer section */
 .footer{
    height: 60px;
    background-color:rgba(29, 167, 179,0.1);
    color: white;
    padding: 10px 0;
    margin-top: 150px;
    font-size: 15px;
 }
 .container1{
    display: flex;
    justify-content: center;
    align-items: center;
 }
.copyright{
    padding-right: 80px;
 }

 .footer p a{
    color: rgb(255, 214, 214);
    text-decoration: none;
    font-size: 18px;
 }