/* give the body element a relative position for the scrollspy to work 
--add font family to the whole page
*/


/* video:  
set the video as a background, make it fixed,
make sure it appears behind all elements
make it spread across the whole webpage
*/
video#bgvideo{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    z-index: -100;
}
 /* style the navigation bar css generator */
.navbar
{
        background-color: rgb(0, 0, 0);
}
 
#navbarNav ul li a{
     color: white;
}
.navbar-toggler-icon{
 background-color: rgb(196, 193, 193);
 border-radius: 10%;
}
.Calllogo{
    fill: white;
}

@media screen and (max-width:991px){
    .call-us{
        display: none;
    }
  
}

/* Home section */

#Home
{
    background-color: transparent;
   color: rgb(0, 0, 0);
   text-align: center;
    padding-top: 15%;
}
#Home h1 {
    padding-bottom: 30px;
}
#Home h2{
    padding-bottom: 50px;
}

#Home .btn{
    background-color: black;
    color: orange;
    font-size: 22px;
    padding: 8px 20px;
    border-radius: 8px;
}
#Home .btn:hover{
    background-color: white;
}
#home .btn:active{
    background-color: white;
}

/* 
no video to work in a small devices: 
we are gonna hide it and show a picture accroos the whole webpage
 */




